<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.JoinBuyDetailDaoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.entity.JoinBuyDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="join_buy_id" jdbcType="BIGINT" property="joinBuyId" />
    <result column="player_id" jdbcType="BIGINT" property="playerId" />
    <result column="buy_count" jdbcType="INTEGER" property="buyCount" />
    <result column="buy_money" jdbcType="DOUBLE" property="buyMoney" />
    <result column="win_prize" jdbcType="DOUBLE" property="winPrize" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <resultMap id="BaseResultMapVo" type="com.example.demo.model.vo.JoinBuyDetailVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="join_buy_id" jdbcType="BIGINT" property="joinBuyId" />
    <result column="player_id" jdbcType="BIGINT" property="playerId" />
    <result column="buy_count" jdbcType="INTEGER" property="buyCount" />
    <result column="buy_money" jdbcType="DOUBLE" property="buyMoney" />
    <result column="win_prize" jdbcType="DOUBLE" property="winPrize" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="player_name" jdbcType="VARCHAR" property="playerName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, join_buy_id, player_id, buy_count, buy_money, win_prize, create_date
  </sql>
  <select id="listJoinBuyDetailByJoinBuyId" parameterType="java.lang.Long" resultMap="BaseResultMapVo">
    select 
    j.id, j.join_buy_id, j.player_id, j.buy_count, j.buy_money, j.win_prize, j.create_date,p.player_name
    from p_join_buy_detail j, p_player p
    where j.join_buy_id = #{JoinBuyId} and j.player_id = p.id
    order by j.create_date desc
  </select>
  
  <select id="listJoinBuyDetailByPlayerId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    j.id, j.join_buy_id, j.player_id, j.buy_count, j.buy_money, j.win_prize, j.create_date
    from p_join_buy_detail j
    where j.player_id = #{playerId} 
    order by j.create_date desc
  </select>
  
</mapper>