<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrderDaoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.entity.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="lottery_num_id" jdbcType="BIGINT" property="lotteryNumId" />
    <result column="player_id" jdbcType="BIGINT" property="playerId" />
    <result column="is_join_buy" jdbcType="TINYINT" property="isJoinBuy" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="total_win_money" jdbcType="DOUBLE" property="totalWinMoney" />
    <result column="total_betting_money" jdbcType="DOUBLE" property="totalBettingMoney" />
    <result column="rule_id" jdbcType="BIGINT" property="ruleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_num, lottery_num_id, player_id, is_join_buy, order_status, create_time, 
    total_win_money, total_betting_money, rule_id
  </sql>
  
  <insert id="insertReturnPrimaryKey" parameterType="com.example.demo.model.entity.Order">
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_order (id, order_num, lottery_num_id, 
      player_id, is_join_buy, order_status, 
      create_time, total_win_money, total_betting_money, 
      rule_id)
    values (#{id,jdbcType=BIGINT}, #{orderNum,jdbcType=VARCHAR}, #{lotteryNumId,jdbcType=BIGINT}, 
      #{playerId,jdbcType=BIGINT}, #{isJoinBuy,jdbcType=TINYINT}, #{orderStatus,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{totalWinMoney,jdbcType=DOUBLE}, #{totalBettingMoney,jdbcType=DOUBLE}, 
      #{ruleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelectiveReturnPrimaryKey" parameterType="com.example.demo.model.entity.Order">
    	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="lotteryNumId != null">
        lottery_num_id,
      </if>
      <if test="playerId != null">
        player_id,
      </if>
      <if test="isJoinBuy != null">
        is_join_buy,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="totalWinMoney != null">
        total_win_money,
      </if>
      <if test="totalBettingMoney != null">
        total_betting_money,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="lotteryNumId != null">
        #{lotteryNumId,jdbcType=BIGINT},
      </if>
      <if test="playerId != null">
        #{playerId,jdbcType=INTEGER},
      </if>
      <if test="isJoinBuy != null">
        #{isJoinBuy,jdbcType=TINYINT},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalWinMoney != null">
        #{totalWinMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalBettingMoney != null">
        #{totalBettingMoney,jdbcType=DOUBLE},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
</mapper>