<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.LoginRecordMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.entity.LoginRecord">
    <id column="login_id" jdbcType="BIGINT" property="loginId" />
    <result column="player_id" jdbcType="BIGINT" property="playerId" />
    <result column="ip_addr" jdbcType="VARCHAR" property="ipAddr" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    login_id, player_id, ip_addr, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_login_record
    where login_id = #{loginId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from p_login_record
    where login_id = #{loginId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.entity.LoginRecord">
    insert into p_login_record (login_id, player_id, ip_addr, 
      create_date)
    values (#{loginId,jdbcType=BIGINT}, #{playerId,jdbcType=BIGINT}, #{ipAddr,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.entity.LoginRecord">
    insert into p_login_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loginId != null">
        login_id,
      </if>
      <if test="playerId != null">
        player_id,
      </if>
      <if test="ipAddr != null">
        ip_addr,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginId != null">
        #{loginId,jdbcType=BIGINT},
      </if>
      <if test="playerId != null">
        #{playerId,jdbcType=BIGINT},
      </if>
      <if test="ipAddr != null">
        #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.entity.LoginRecord">
    update p_login_record
    <set>
      <if test="playerId != null">
        player_id = #{playerId,jdbcType=BIGINT},
      </if>
      <if test="ipAddr != null">
        ip_addr = #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where login_id = #{loginId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.entity.LoginRecord">
    update p_login_record
    set player_id = #{playerId,jdbcType=BIGINT},
      ip_addr = #{ipAddr,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where login_id = #{loginId,jdbcType=BIGINT}
  </update>
</mapper>