<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.LotteryTypeMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.entity.LotteryType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rule_id" jdbcType="BIGINT" property="ruleId" />
    <result column="lottery_type_name" jdbcType="VARCHAR" property="lotteryTypeName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="single_price" jdbcType="DOUBLE" property="singlePrice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rule_id, lottery_type_name, create_date, del_flag, single_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from l_lottery_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from l_lottery_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.entity.LotteryType">
    insert into l_lottery_type (id, rule_id, lottery_type_name, 
      create_date, del_flag, single_price
      )
    values (#{id,jdbcType=BIGINT}, #{ruleId,jdbcType=BIGINT}, #{lotteryTypeName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER}, #{singlePrice,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.entity.LotteryType">
    insert into l_lottery_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="lotteryTypeName != null">
        lottery_type_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="singlePrice != null">
        single_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="lotteryTypeName != null">
        #{lotteryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="singlePrice != null">
        #{singlePrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.entity.LotteryType">
    update l_lottery_type
    <set>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="lotteryTypeName != null">
        lottery_type_name = #{lotteryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="singlePrice != null">
        single_price = #{singlePrice,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.entity.LotteryType">
    update l_lottery_type
    set rule_id = #{ruleId,jdbcType=BIGINT},
      lottery_type_name = #{lotteryTypeName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER},
      single_price = #{singlePrice,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>