<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.LotteryNumMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.entity.LotteryNum">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="lottery_type_id" jdbcType="BIGINT" property="lotteryTypeId" />
    <result column="lottery_num" jdbcType="VARCHAR" property="lotteryNum" />
    <result column="win_num" jdbcType="VARCHAR" property="winNum" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="open_time" jdbcType="TIMESTAMP" property="openTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lottery_type_id, lottery_num, win_num, create_date, update_date, create_user, 
    update_user, open_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from l_lottery_num
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from l_lottery_num
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.entity.LotteryNum">
    insert into l_lottery_num (id, lottery_type_id, lottery_num, 
      win_num, create_date, update_date, 
      create_user, update_user, open_time
      )
    values (#{id,jdbcType=BIGINT}, #{lotteryTypeId,jdbcType=BIGINT}, #{lotteryNum,jdbcType=VARCHAR}, 
      #{winNum,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{openTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.entity.LotteryNum">
    insert into l_lottery_num
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lotteryTypeId != null">
        lottery_type_id,
      </if>
      <if test="lotteryNum != null">
        lottery_num,
      </if>
      <if test="winNum != null">
        win_num,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="openTime != null">
        open_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="lotteryTypeId != null">
        #{lotteryTypeId,jdbcType=BIGINT},
      </if>
      <if test="lotteryNum != null">
        #{lotteryNum,jdbcType=VARCHAR},
      </if>
      <if test="winNum != null">
        #{winNum,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null">
        #{openTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.entity.LotteryNum">
    update l_lottery_num
    <set>
      <if test="lotteryTypeId != null">
        lottery_type_id = #{lotteryTypeId,jdbcType=BIGINT},
      </if>
      <if test="lotteryNum != null">
        lottery_num = #{lotteryNum,jdbcType=VARCHAR},
      </if>
      <if test="winNum != null">
        win_num = #{winNum,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null">
        open_time = #{openTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.entity.LotteryNum">
    update l_lottery_num
    set lottery_type_id = #{lotteryTypeId,jdbcType=BIGINT},
      lottery_num = #{lotteryNum,jdbcType=VARCHAR},
      win_num = #{winNum,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      open_time = #{openTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>