<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.LotteryNumMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.entity.LotteryNum">
    <id column="lottery_num_id" jdbcType="BIGINT" property="lotteryNumId" />
    <id column="lottery_type_id" jdbcType="BIGINT" property="lotteryTypeId" />
    <result column="lottery_num" jdbcType="VARCHAR" property="lotteryNum" />
    <result column="win_num" jdbcType="VARCHAR" property="winNum" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    lottery_num_id, lottery_type_id, lottery_num, win_num, create_date, update_date, 
    create_user, update_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.example.demo.model.entity.LotteryNumKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from l_lottery_num
    where lottery_num_id = #{lotteryNumId,jdbcType=BIGINT}
      and lottery_type_id = #{lotteryTypeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.demo.model.entity.LotteryNumKey">
    delete from l_lottery_num
    where lottery_num_id = #{lotteryNumId,jdbcType=BIGINT}
      and lottery_type_id = #{lotteryTypeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.entity.LotteryNum">
    insert into l_lottery_num (lottery_num_id, lottery_type_id, lottery_num, 
      win_num, create_date, update_date, 
      create_user, update_user)
    values (#{lotteryNumId,jdbcType=BIGINT}, #{lotteryTypeId,jdbcType=BIGINT}, #{lotteryNum,jdbcType=VARCHAR}, 
      #{winNum,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=BIGINT}, #{updateUser,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.entity.LotteryNum">
    insert into l_lottery_num
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lotteryNumId != null">
        lottery_num_id,
      </if>
      <if test="lotteryTypeId != null">
        lottery_type_id,
      </if>
      <if test="lotteryNum != null">
        lottery_num,
      </if>
      <if test="winNum != null">
        win_num,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lotteryNumId != null">
        #{lotteryNumId,jdbcType=BIGINT},
      </if>
      <if test="lotteryTypeId != null">
        #{lotteryTypeId,jdbcType=BIGINT},
      </if>
      <if test="lotteryNum != null">
        #{lotteryNum,jdbcType=VARCHAR},
      </if>
      <if test="winNum != null">
        #{winNum,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.entity.LotteryNum">
    update l_lottery_num
    <set>
      <if test="lotteryNum != null">
        lottery_num = #{lotteryNum,jdbcType=VARCHAR},
      </if>
      <if test="winNum != null">
        win_num = #{winNum,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where lottery_num_id = #{lotteryNumId,jdbcType=BIGINT}
      and lottery_type_id = #{lotteryTypeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.entity.LotteryNum">
    update l_lottery_num
    set lottery_num = #{lotteryNum,jdbcType=VARCHAR},
      win_num = #{winNum,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=BIGINT}
    where lottery_num_id = #{lotteryNumId,jdbcType=BIGINT}
      and lottery_type_id = #{lotteryTypeId,jdbcType=BIGINT}
  </update>
</mapper>